---
layout: layouts/base.njk
---

<div class="hero">
    <div class="container">
        <h1>{{ title }}</h1>
        <p class="subheadline">{{ description }}</p>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search reviews...">
            <select id="tag-filter">
                <option value="">All Tags</option>
                {% for tag in collections.tagList %}
                    <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="post-list">
            {%- for post in collections.posts | reverse -%}
              {% include "post-card.njk" %}
            {%- endfor -%}
          </div>
        
    </div>
</div>

<script src="/js/search.js"></script>
