---
layout: layouts/blog.njk
title: Pheromone Reviews
description: Browse our comprehensive collection of pheromone product reviews.
eleventyNavigation:
  key: Reviews
  order: 2
permalink: /reviews/
---

{% set postslist = collections.posts | reverse %}
